<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Profiles Assessment</title>
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
  <style>
    body {
      padding: 0px;
      margin: 0px;
    }
  </style>
</head>

<body flaap-app="app"></body>

</html>