<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Profiles Assessment</title>
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/solid.min.css"
    />
    <style>
      body {
        padding: 0px;
        margin: 0px;
      }
    </style>
  </head>

  <body flaap-app="app"></body>
</html>
