// Colors
$black: #000000;

$navbar-bg: $black;
$navbar-text: #ffffff;
$button-border: #333333;
$button-bg-top: #fefefe;
$button-bg-bottom: #e7e7e7;
$icon-green: #3c763d;
$icon-red: #a94442;
$icon-gray: #333333;
$text-content: #333333;
$text-header: $black;
$status-top: #7fda7f;
$status-bottom: #03a903;
$shadow-color: #dedede;

// Other variables
$navbar-button-padding: 14px 10px;
$navbar-button-border-radius: 3px;
