@use '../../styles/variables';
@use '../../styles/utilities';
@use 'sass:color';

nav-bar {
  nav {
    color: variables.$navbar-text;
    background: linear-gradient(to bottom, variables.$button-bg-top-dark, variables.$button-bg-bottom-dark);

    .menu {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .item {
      color: variables.$navbar-text;
      border: variables.$button-border;
      padding: 18px;

      border-top: 1px solid variables.$button-border-medium;
      border-right: 1px solid variables.$button-border-dark;
      border-bottom: 1px solid variables.$button-border-dark;
      border-left: 1px solid variables.$button-border-light;

      .icon {
        margin-right: 0.5rem;
        margin-top: 0.2rem;
      }

      a.link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        font-size: 1rem;

        &:hover {
          color: variables.$navbar-text;
        }
      }

      &:hover {
        background-color: color.adjust(variables.$navbar-bg, $lightness: -10%);
      }
    }
  }
}
