@use '../../styles/variables';
@use '../../styles/utilities';
@use 'sass:color';

nav-bar {
  nav {
    background-color: variables.$navbar-bg;
    color: variables.$navbar-text;

    .menu {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .item {
      color: variables.$navbar-text;
      @extend .p-2;

      .icon {
        margin-right: 0.5rem;
      }

      a.link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: variables.$navbar-text;
        }
      }

      &:hover {
        background-color: color.adjust(variables.$navbar-bg, $lightness: -10%);
      }
    }
  }
}
